<div class="row">
    <div class="col-sm-1 col-md-6">
        <div class="left-pane">
            <p class="lead text-left">
                Live Block status
            </p>
            <div class="row block-timeline">
                <div class="col-sm-10 col-md-10 col-lg-8 text-center node-block" ng-repeat="block in blocklist">
                    <table class="table table-responsive">
                        <tbody>
                            <tr>
                                <td>Filename</td>
                                <td>{{block.filename}}</td>
                            </tr>
                            <tr>
                                <td>Hash</td>
                                <td>{{block.hash}}</td>
                            </tr>
                            <tr>
                                <td>Timestamp</td>
                                <td>{{block.timestamp}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="node-block-defocus-panel">
                        <div class="actions">
                            <button class="btn btn-raised btn-secondary download-block-btn">
                                <i class="fa fa-download"></i>
                                Download
                            </button>
                            <button class="btn btn-raised btn-secondary">
                                <i class="fa fa-external-link"></i>
                                View
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-100"></div>                
            </div>
        </div>
    </div>
    <div class="col-sm-1 col-md-6">
        <div class="center-pane">
            <p class="lead text-left">
                Upload one or more files to blockchain
            </p>
            <button type="button" class="btn btn-primary btn-lg btn-block active" data-toggle="modal" data-target="#fileUploadModal">Upload File</button>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-4">
                    <div class="counter">
                        <i class="fa fa-link fa-2x"></i>
                        <h2 class="timer count-title count-number" count-to="{{totalBlockchains}}" value="0" duration="{{counterDuration}}"></h2>
                        <p class="count-text ">Blocks</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="counter">
                        <i class="fa fa-files-o fa-2x"></i>
                        <h2 class="timer count-title count-number" count-to="{{totalFileUploads}}" value="0" duration="{{counterDuration}}"></h2>
                        <p class="count-text ">Files uploaded</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="counter">
                        <i class="fa fa-server fa-2x"></i>
                        <h2 class="timer count-title count-number" count-to="{{totalNodes}}" value="0" duration="{{counterDuration}}"></h2>
                        <p class="count-text ">Nodes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="fileUploadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fileUploadModalLabel">Upload File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="margin-top: -10px;vertical-align: super;">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding-bottom: 0px;">
          <div class="fileUploadContainer">
              <h1 class="display-4 text-center" style="color: #555;">
                  <i class="fa fa-desktop fa-2x" style="color: #888;"></i>
              </h1>
              <label class="text-center">Drag Drop / Browse</label>
          </div>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Memo">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn btn-primary">UPLOAD</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="enterKeyModal" tabindex="-1" role="dialog" aria-labelledby="enterKeyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="enterKeyModalLabel">Enter your key</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="margin-top: -10px;vertical-align: super;">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding-bottom: 0px;">
        <form>
          <div class="form-group">
            <label>Key</label>
            <input type="text" class="form-control" autofocus placeholder="Paste your key here">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn btn-primary">SAVE</button>
      </div>
    </div>
  </div>
</div>
